.header__main-illustration {
  /* раскомментировать, если нужно будет переделать img на div */
  /* background-image: url(../../../images/header-image.png); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  width: 765px;
  height: 608px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}