@import url(../blocks/page/page.css);

@import url(../blocks/page/header/header.css);
@import url(../blocks/page/logo/logo.css);

:root {
  --bg-dark: #1f1f1f;
  --bg-light: #f2f2f2;
  --link-default: #2f80ed;
  --text-default: #000;
}

.description {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: var(--link-default);
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: var(--text-default);
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-default);
}

.digits {
  margin: 100px auto;
}

.section-title {
  margin: 0 auto 20px;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: var(--text-default);
  display: flex;
  width: 60%;
  justify-content: center;
}

.section-subtitle {
  margin: 0 auto;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: var(--text-default);
  display: flex;
  width: 60%;
  justify-content: center;
  text-align: center;
}

.table {
  width: 1100px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  margin-top: 60px;
  padding: 0;
  width: 250px;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  min-height: 890px;
  margin: 100px 0 0 0;
  background-image: url(../images/feynman.png);
  background-color: var(--bg-light);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  position: relative;
}

.feynman__title {
  margin: 0 auto;
  padding: 100px 0 0 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  color: var(--text-default);
  min-width: 648px;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: var(--text-default);
  width: fit-content;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: var(--link-default);
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
}

.feynman__link:hover{
  text-decoration: underline;
}

.kaufman{
  background-color: var(--bg-dark);
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark{
  color: white;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark{
  color: white;
  position: relative;
  z-index: 1;
}

.table_theme_dark{
  position: relative;
  z-index: 1;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.kaufman__triangle{
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer{
  background-color: var(--bg-dark);
  min-height: 350px;
  display: flex;
}

.footer__columns{
  width: 90%;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column{
  color: white;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.footer__column-links{
  list-style: none;
  margin: 20px 0 18px;
  padding: 0;
}

.footer__column-link{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer__column-link:hover{
  text-decoration: underline;
}

.footer__social-icon{
  width: 16px;
  object-fit: cover;
  margin-right: 10px;
}
